[package]
name = "diskspace"
version = "2.0.0"
authors = ["Fenhl <fenhl@fenhl.net>"]
edition = "2018"

[lib]
name = "diskspace"
path = "src/lib.rs"

[[bin]]
name = "diskspace"
path = "src/main.rs"
doc = false
test = false
bench = false

[[bin]]
name = "bitbar-diskspace"
path = "src/bitbar.rs"
doc = false
test = false
bench = false

[dependencies]
bytesize = "*"
clap = "2"
serde = "1"
serde_derive = "1"
serde_json = "1"
#systemstat = "*" #WAITING FOR https://github.com/myfreeweb/systemstat/pull/53
wrapped_enum = "*"
xdg-basedir = "1"

[dependencies.bitbar]
git = "https://github.com/fenhl/rust-bitbar"

[dependencies.systemstat]
git = "https://github.com/fenhl/systemstat"
branch = "patch-1"
